:root {
  --min-screen-height: 1000px;
}

.App {
  margin: 0 auto;
  max-width: 1200px;
  display: grid;
  grid-template-columns: 0.25fr 2fr;
  grid-template-areas:
    "sidebar content";

}

.content {
  min-height: var(--min-screen-height);
  grid-area: content;
  background-color: #e07a5f;
  padding-top: 0.75em;
  padding-left: 1em;
}

.sidebar {
  min-height: var(--min-screen-height);
  grid-area: sidebar;
  background-color: #f4f1de;
  padding-top: 0.75em;
  padding-left: 1em;
}